# Installed via Github Copilot Setup Steps, should not be committed
.agents/skills/apollo-client
.github/instructions/docs.instructions.md
.github/skills/apollo-client

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/
tsconfig.tsbuildinfo
dist/
.yalc
yalc.lock
*.tgz
.DS_Store
.vscode/
.vercel
.next/
test-results/
temp/
.built